*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: gray;

    width: 344px;
    height: 544px;
    margin:20px ;
    border-radius: 12px;
}
.image img{
    width: 333px;
    padding: 5px 5px;
    border-radius: 12px;
    margin: 0;
}
.capsules span{
    border: 2px solid;
    margin: 10px ;
    padding: 5px;
    border-radius: 20px;
    font-family: cursive;
    color: rgb(170, 175, 23);
    

}
span :nth-child(1){
    padding: 2px ;
}
.capsules{
    margin: 5px;

    
}
.content h1{
    margin: 20px 10px;

   
}
.content p{
    margin: 5px;
}
.content button{
    margin: 23px 100px;
    border-radius: 12px;
    padding: 5px;
    font-size: small;
    color: blue;
    background-color: blanchedalmond;
}